html,
body {
  height: 100%;
  width: 100%;
  /* overflow-x: hidden;
  overflow-y: hidden; */
  background-color: #FFA2CD;
  margin: 0;
  padding: 0;
}
/*
variables: 

* text-color->   color: #CDB4DB
* border-color-> #FFAFCC
* background-color-> #BDE0FE (Node)
* background-color-> #FFC8DD (Add)
* leader-color-> #A2D2FF


*/

.body-container {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  grid-template-columns: repeat(25, [col-start] 4% [col-end]);
  grid-template-rows: repeat(15, [row-start] 4% [row-end]);
  /* grid-template-columns: [col1] 10% [col2] 10% [col3] 10% [col4] 10% [col5] 10% [col6] 10% [col7] 10% [col8] 10% [col9] 10% [col10]; */
  /* grid-template-rows: [row1] 10% [row2] 10% [row3] 10% [row4] 10% [row5] 10% [row6] 10% [row7] 10% [row8] 10% [row9] 10% [row10]; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  font-size: medium;

  /* Variable Template */
  --bg-color: #FED8B1; /* light orange */
  --fg-color: #17559d; /* persian indigo */
  --ld-color: #000F89; /* pthalo blue */
  --bd-color: #17559d; /* persian indigo */
  --bg-node:  #297d49; /* feldgrau */
  --fg-node:  #F8F4FF; /* magnolia */
}

.node {
  z-index: 99;
  background-color: var(--bg-node);
  margin: 15px;
  border-radius: 20px 10px 20px 10px;
  border: 2px solid var(--bd-color);
  display: grid;
  text-align: center;
  align-items: center;
  transition-duration: 0.3s;
  color: var(--fg-node);
}

.node:hover {
  box-shadow: 2px 2px 1px;
  border: 2px solid var(--fg-node);
  margin:12px;
}

.root {
  grid-column-start: col-start 1;
  grid-column-end: col-end 3;
  grid-row-start: row-start 5;
  grid-row-end: row-end 7;
}

.parent1 {
  grid-column-start: col-start 5;
  grid-column-end: col-end 7;
  grid-row-start: row-start 2;
  grid-row-end: row-end 4;
}
.parent2 {
  grid-column-start: col-start 5;
  grid-column-end: col-end 7; 
  grid-row-start: row-start 8;
  grid-row-end: row-end 10;
}
.child1 {
  grid-column-start: col-start 9;
  grid-column-end: col-end 11;
  grid-row-start: row-start 7;
  grid-row-end: row-end 9;

}
.child2 {
  grid-column-start: col-start 9;
  grid-column-end: col-end 11;
  grid-row-start: row-start 10;
  grid-row-end: row-end 12;

}

.body-container {
  background-image: url("Blue-Grid.png");
  background-repeat: repeat-y repeat-y;
}

/* .gg-math-plus,
.gg-math-plus::after {
  color: lightblue;
  background-color: transparent;
  display: relative;
  box-sizing: border-box;
  background: currentColor;
  border-radius: 10px;
}
.gg-math-plus {
  margin-top: -2px;
  position: relative;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 2px;
}
.gg-math-plus::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 16px;
  top: -7px;
} */


.add {
  margin: 20px;
  border-radius: 20px 10px 20px 10px;
  border: 2px solid var(--bd-color);
  display: grid;
  align-items: center;
  vertical-align: center;
  padding-left: 20px;
  transition-duration: 0.1s;
  background-color: var(--bg-node);
  color: var(--fg-node)
}

.add1 {
  grid-column-start: col-start 9;
  grid-column-end: col-end 10;
  grid-row-start: row-start 2;
  grid-row-end: row-end 4;
}

.add2 {
  grid-column-start: col-start 13;
  grid-column-end: col-end 14;
  grid-row-start: row-start 7;
  grid-row-end: row-end 9;
}

.add3 {
  grid-column-start: col-start 13;
  grid-column-end: col-end 14;
  grid-row-start: row-start 10;
  grid-row-end: row-end 12;
}
